//
//  Constants.swift
//  datadog-monitor
//
//  Created by Wiebe on 12/15/23.
//

import Foundation

struct Constants {
    
    struct Urls {
        static let latestStocks = URL(string: "https://api.datadoghq.eu/api/v1/monitor")!
        static let ddApiKey = ""
        static let ddAppKey = ""
    }
    
    
    
}
